In [1]:
import pandas as pd
import numpy as np

In [14]:
data = pd.read_csv("SpotifyFeatures.csv")

# Eliminar: artist_name, track_name
data.drop(["artist_name", "track_name"], axis=1, inplace=True)

# Hacer num√©rico:  genre, key, mode, time_signature
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232725 entries, 0 to 232724
Data columns (total 16 columns):
genre               232725 non-null object
track_id            232725 non-null object
popularity          232725 non-null int64
acousticness        232725 non-null float64
danceability        232725 non-null float64
duration_ms         232725 non-null int64
energy              232725 non-null float64
instrumentalness    232725 non-null float64
key                 232725 non-null object
liveness            232725 non-null float64
loudness            232725 non-null float64
mode                232725 non-null object
speechiness         232725 non-null float64
tempo               232725 non-null float64
time_signature      232725 non-null object
valence             232725 non-null float64
dtypes: float64(9), int64(2), object(5)
memory usage: 28.4+ MB

         A        B      C          D
0  Austria  Germany    hob  Australia
1    Spain   France  Italy     Mexico

         A        B      C          D
0  Austria  Germany   Test  Australia
1    Spain   France  Italy     Mexico