In [1]:
import pandas as pd
import numpy as np

In [22]:
data = pd.read_csv("SpotifyFeatures.csv")

# Eliminar: artist_name, track_name
data.drop(["artist_name", "track_name"], axis=1, inplace=True)


data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232725 entries, 0 to 232724
Data columns (total 16 columns):
genre               232725 non-null object
track_id            232725 non-null object
popularity          232725 non-null int64
acousticness        232725 non-null float64
danceability        232725 non-null float64
duration_ms         232725 non-null int64
energy              232725 non-null float64
instrumentalness    232725 non-null float64
key                 232725 non-null object
liveness            232725 non-null float64
loudness            232725 non-null float64
mode                232725 non-null object
speechiness         232725 non-null float64
tempo               232725 non-null float64
time_signature      232725 non-null object
valence             232725 non-null float64
dtypes: float64(9), int64(2), object(5)
memory usage: 28.4+ MB

In [48]:
# Hacer numérico:  genre, key, mode, time_signature
df = pd.DataFrame(data, columns = ["genre","key","mode","time_signature",]) 
#agregar las demás columnas al dataframe antes de exportar a csv

print("Before: ")
df.info()
df.head()

#solucionar PRIMERO problema con "children´s music"
findC = ["Children's Music"]
replaceC = ['Children’s Music']
colC = 'genre'
df[colC] = df[colC].replace(findC, replaceC)

#gnre: 0-25
findG = ['A Capella', 'Alternative', 'Anime', 'Blues',
 'Children’s Music', 'Classical', 'Comedy', 'Country', 'Dance', 'Electronic',
 'Folk', 'Hip-Hop', 'Indie', 'Jazz', 'Movie', 'Opera', 'Pop', 'R&B', 'Rap',
 'Reggae', 'Reggaeton', 'Rock', 'Ska', 'Soul', 'Soundtrack', 'World']
replaceG = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
colG = 'genre'
df[colG] = df[colG].replace(findG, replaceG)

#key: 0-11
findK = ["A", "A#", "B", "C", "C#", "D", "D#", "E", "F", "F#", "G", "G#"]
replaceK = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] 
col = 'key'
df[colK] = df[colK].replace(findK, replaceK)

#mode: 0-1
findM = ["Major", "Minor"]
replaceM = [0, 1] 
colM = 'mode'
df[colM] = df[colM].replace(findM, replaceM)

#time_signature: 0-3
findL = ["0/4", "1/4", "3/4", "4/4", "5/4"]
replaceL = [0, 1, 2, 3, 4] 
colL = 'time_signature'
df[colL] = df[colL].replace(findL, replaceL)


#results
print("\nAfter: ")
df.info()
df.head()

##falta sólo exportar el dataframe (primero agregar las demás columnas) a un csv 
##isaac chtm

Before:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232725 entries, 0 to 232724
Data columns (total 4 columns):
genre             232725 non-null object
key               232725 non-null object
mode              232725 non-null object
time_signature    232725 non-null object
dtypes: object(4)
memory usage: 7.1+ MB

After:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232725 entries, 0 to 232724
Data columns (total 4 columns):
genre             232725 non-null int64
key               232725 non-null int64
mode              232725 non-null int64
time_signature    232725 non-null int64
dtypes: int64(4)
memory usage: 7.1 MB

   genre  key  mode  time_signature
0     14    4     0               3
1     14    9     1               3
2     14    3     1               4
3     14    4     0               3
4     14    8     0               3

In [55]:
data.info()
print("\nProcesadas:")
df.info()
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232725 entries, 0 to 232724
Data columns (total 16 columns):
genre               232725 non-null object
track_id            232725 non-null object
popularity          232725 non-null int64
acousticness        232725 non-null float64
danceability        232725 non-null float64
duration_ms         232725 non-null int64
energy              232725 non-null float64
instrumentalness    232725 non-null float64
key                 232725 non-null object
liveness            232725 non-null float64
loudness            232725 non-null float64
mode                232725 non-null object
speechiness         232725 non-null float64
tempo               232725 non-null float64
time_signature      232725 non-null object
valence             232725 non-null float64
dtypes: float64(9), int64(2), object(5)
memory usage: 28.4+ MB

Procesadas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232725 entries, 0 to 232724
Data columns (total 4 columns):
genre             232725 non-null int64
key               232725 non-null int64
mode              232725 non-null int64
time_signature    232725 non-null int64
dtypes: int64(4)
memory usage: 7.1 MB

        genre  key  mode  time_signature
232720     23    5     0               3
232721     23    7     1               3
232722     23    5     0               3
232723     23    0     0               3
232724     23   11     1               3